.index {
    line-height: 1.5;

    .banner {
        display: flex;

        .index_content_box {
            display: flex;
            flex-direction: column;

            @include t() {
                width: 100%;
            }

            width: 88%;

            h1 {
                margin-bottom: 16px;
                font-family: 'Tauri', sans-serif;
                font-weight: lighter;
            }

            p {
                margin-bottom: 32px;
            }
        }
    }

    .section01 {
        padding-top: 60px;
        background-image: url('../images/section01.png');
        background-repeat: repeat-x;
        background-position: top;
        background-size: auto;
        display: flex;
        width: 100%;

        .row {
            align-items: center;
            position: relative;
            padding: 64px 16px;

            h2 {
                text-align: center;
                font-weight: 600;
                width: 100%;
                color: $info;
            }

            .content_box {
                display: flex;
                align-items: center;
            }
            .imgBox {
                margin: 10px;
                width: 110px;
                height: 105px;

                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }
        }

    }

    // Core Technology
    .section02 {
        padding-bottom: 60px;
        background-image: url('../images/section02.png');
        background-repeat: repeat-x;
        background-position: center;

        .container {
            .row {
                @include d(1160px){
                    // flex-direction: column;
                    // justify-content: center;
                    flex-wrap: nowrap;
                }
                justify-content: space-between;
                align-items: center;
                .card {
                    width: 365px;
                    box-shadow: 0px 2px 4px rgba(171, 190, 209, 0.2);
                    border-radius: 8px;
                    height: 467px;
                    padding: 24px 32px;


                    .h2_blue,
                    .body {
                        @include m(){
                            padding: .5rem;
                        }
                        padding: 1rem;
                    }

                    .h2_blue {
                        flex-grow: 0;
                        font-weight: 600;
                    }
                    .body {
                        flex-grow: 1;
                        width: 80%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .imgBox {
                        flex-grow: 0;
                        width: 230px;
                        height: 230px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    // Particle Technology
    .section03 {
        background-color: $info;

        .container {
            .row {
                .pre-line {
                    white-space: pre-line;
                }

                .leftBox {
                    background: radial-gradient(#D2F6E5, #A8D1E3);
                    padding: 66px 39px;
                    background-color: #fff;

                    h2 {
                        margin-bottom: 8px;
                    }

                    button {
                        color: #12A5DB;
                        padding: 8px 0;
                        border: none;
                        background-color: transparent;
                        line-height: 2;

                        img {
                            margin-left: 4px;
                        }
                    }
                }

                .flex-row {
                    color: $white;

                    img,
                    .body {
                        margin: auto;
                    }

                    img {
                        padding: 0 32px;
                    }

                    .body {
                        width: 30%;
                        line-height: 2;
                    }
                }
            }
        }
    }

    // Our products
    .section04 {
        @include sectionPadding();
        background-color: $white;

        .container {
            .center-box {
                text-align: center;

                h2,
                .body {
                    margin: 8px 0;
                }

                .body {
                    margin-bottom: 24px;
                }
            }

            .row {
                align-items: center;
                display: flex;
                // @include t(){
                //     flex-direction: column;
                //     justify-content: center;
                // }
                .pre-line {
                    white-space: pre-line;
                }

                .product_card {
                    display: flex;
                    flex-direction: column;
                    box-shadow: 0px 2px 4px rgba(171, 190, 209, 0.2);
                    width: 320px;
                    height: 400px;
                    border-radius: 8px;
                    margin: 8px 12px;

                    a {
                        flex-grow: 0;
                        margin-top: 16px;
                    }

                    h3,
                    .description {
                        margin: 12px 0;
                    }
                    .description {
                        padding: 0 40px;
                        height: 60px;
                        flex-grow: 1;
                    }
                }
            }
        }
    }

    .applications_bg {
        background-image: url('../images/applications_bg.png');
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .section05 {
        @include sectionPadding();

        .container {
            .row {
                .leftBox {

                    h2,
                    .body {
                        margin-bottom: 16px;
                    }
                }

                .rightBox {
                    .row {
                        justify-content: end;
                    }
                }

                .four-box {
                    @include t(){
                        width: 45%;
                        height: 45%;
                        margin: 8px;
                    }
                     position: relative;
                     margin: 8px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}